version: "3.9"

services:
  db:
    image: mysql:5.7
    platform: linux/amd64 # Force x86_64 emulation
    volumes:
      - database:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress

  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    volumes:
      - ".:/var/www/html/wp-content/plugins/novac-givewp"
    ports:
      - "8000:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DEBUG: 1
      WP_DEBUG_DISPLAY: 1
      WP_DEBUG_LOG: 1
      WP_ALLOW_MULTISITE: 1

volumes:
  database: